.notification__heading {
  font-size: var(--fontsize-regular);
  font-family: var(--fontfamily-sansserif);
  font-weight: var(--fontweight-medium);
  color: var(--color-white);
  text-align: center;
  margin: 10px;
}

.notification_search_icon {
  position: absolute;
  margin: 7px 0 0 30px;
  z-index: 10;
}

.notification__search {
  width: 13rem;
  position: relative;
  height: 2rem;
  border-radius: 10rem;
  background-color: white;
  margin-left: 20px;
  border: none;
  outline: none;
  padding-left: 30px;
  font-size: var(--fontsize-small);
}
