.gift__table__container {
  width: 100%;
  border-collapse: collapse;
}

.gift__container {
  padding: 3rem 0;
}

.gift__table__heading {
  color: white;
  background-color: #f20094;
  padding: 10px 0;
}

.gift__table__body {
  text-align: center;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;
}

.gift__table__edit__icon {
  font-size: 25px;
  color: rgb(0, 140, 255);
  cursor: pointer;
}

.gift__table__delete__icon {
  font-size: 25px;
  color: red;
  cursor: pointer;
}

.add__gift {
  display: flex;
  justify-content: flex-end;
}
