.add__gift__container {
  padding: 5px 0;
}

.add__gift__form__btn {
  margin: auto;
  cursor: pointer;
}

.add__gift__heading {
  text-align: center;
  font-family: var(--fontfamily-sansserif);
  font-weight: var(--fontweight-medium);
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}

.add__gift__form {
  padding: 1rem 2rem;
}
