.user__notification__container {
  padding: 3rem 0;
}

.user__notification__table {
  width: 100%;
  border-collapse: collapse;
}

.user__notification__header {
  padding: 10px;
  background-color: #f20094;
  color: white;
}

.user__notification__data {
  text-align: center;
  padding: 10px;
  border: none;
  border-bottom: 1px solid grey;
}
