.user__gift__container {
  padding: 3rem 0;
}

.user__gift__table {
  width: 100%;
  border-collapse: collapse;
}

.user__gift__header {
  background-color: #f20094;
  color: white;
  padding: 10px;
}

.user__gift__data {
  text-align: center;
  padding: 10px;
  border: none;
  border-collapse: collapse;
}
