.layout__container {
  display: flex;
}

.layout__nav__content {
  padding: 0 10px 10px 20px;
  height: 100vh;
  overflow: scroll;
}

.open {
  width: 80%;
}

.close {
  width: 95%;
}

::-webkit-scrollbar {
  display: none;
}
