.rejected__user__container {
  width: 100%;
  padding: 3rem 0;
  overflow: auto;
}

.rejected__user__table {
  border-collapse: collapse;
}

.rejected__user__eye__icon {
  font-size: 20px;
  cursor: pointer;
}

.rejected__user__action {
  display: flex;
  gap: 10px;
}

.rejected__user__edit__icon {
  font-size: 25px;
  color: rgb(0, 132, 255);
  cursor: pointer;
}

.rejected__user__delete__icon {
  font-size: 25px;
  color: red;
  cursor: pointer;
}
