.search__input__container {
  position: relative;
  color: var(--color-pink);
}

.search__input {
  padding-left: 40px;
  font-size: var(--fontsize-small);
  font-family: var(--fontfamily-default);
  background-color: var(--color-lightpink);
}

.search__icon {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 20px;
  text-align: center;
}
