.user__request__table__container {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
}

.user__request__table {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  border-collapse: collapse;
}

.user__request__headers {
  border: none;
  color: white;
  padding: 10px;
  background-color: #f20094;
}

.user__request__row {
  text-align: center;
  padding: 10px;
}

.user__request__eye__icon {
  cursor: pointer;
  font-size: 20px;
}

.table__accept__icon {
  font-size: 25px;
  color: rgb(0, 191, 0);
  cursor: pointer;
}

.table__reject__icon {
  font-size: 25px;
  color: red;
  cursor: pointer;
}
