.feedback__table__container {
  width: 100%;
  border-collapse: collapse;
}

.feedback__container {
  padding: 3rem 0;
}

.feedback__table__heading {
  background-color: #f20094;
  color: white;
  padding: 10px;
}

.feedback__table__data {
  color: black;
  padding: 10px 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.feedback__table__eye__icon {
  font-size: 20px;
}
