.navbar__container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  background-color: white;
  z-index: 50;
  top: 0;
  margin: 10px 0 1rem 0;
}

.navbar__country {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #f20094;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar__profile_details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_right_content {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__details {
  color: #f20094;
  font-family: var(--fontfamily-default);
}

.admin__image {
  font-size: 25px;
  text-align: center;
  color: white;
}
