.followers__container {
  padding: 3rem 0;
}

.followers__table {
  width: 100%;
  border-collapse: collapse;
}

.followers__header {
  background-color: #f20094;
  color: white;
  padding: 10px;
}

.followers__data {
  text-align: center;
  padding: 10px;
  border: none;
  border-bottom: 1px solid grey;
}
