.user__details__row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__details__table {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.user__table__data {
  padding: 10px;
}

.user__table__data th {
  background-color: none !important;
}
