.button__style {
  width: 10rem;
  height: 3rem;
  padding: 0 20px;
  color: var(--color-black);
  background-color: var(--color-pink);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button__text {
  color: var(--color-white);
  font-size: var(--fontsize-medium);
  font-family: var(--fontfamily-default);
}
