.host__form__heading {
  font-family: var(--fontfamily-sansserif);
  font-size: var(--fontsize-large);
  font-weight: var(--fontweight-bold);
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

.host__form__content {
  margin: 1rem 2rem;
}
