.notification__form__container {
  padding: 2px 0;
}

.notification__form {
  padding: 1rem 2rem;
}

.notification__form__heading {
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  font-family: var(--fontfamily-sansserif);
  font-weight: var(--fontweight-medium);
}
