.host__call__history__container {
  padding: 3rem 0;
}

.host__call__history__table {
  width: 100%;
  border-collapse: collapse;
}

.host__call__history__header {
  background-color: #f20094;
  color: white;
  padding: 10px;
}

.host__call__history__data {
  text-align: center;
}
