.banner__list__table__container {
  width: 100%;
  border-collapse: collapse;
}

.banner__list__container {
  padding: 3rem 0;
}

.banner__list__table__head {
  padding: 10px 0;
  background-color: #f20094;
  color: white;
}

.banner__list__eye__icon {
  font-size: 18px;
  cursor: pointer;
}

.banner__list__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.banner__list__edit__action {
  font-size: 25px;
  color: rgb(0, 99, 213);
  cursor: pointer;
}

.banner__list__delete__action {
  font-size: 25px;
  color: red;
  cursor: pointer;
}

.banner__list__data {
  border: none;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

.banner__list__body {
  padding: 10px;
}
