.bucket__container {
  width: 80vw;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.bucket__coin__amount {
  width: 30vw;
  height: auto;
  border: none;
  font-size: 20px;
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: hsla(0, 0%, 0%, 0.24) 0px 3px 8px;
}

.bucket__coin {
  text-align: center;
}
